


<app-navbar></app-navbar>

<div class="row">
    <div class="col-sm-8"><h4>CANDIDATE DETAILS</h4></div>
    <div class="col-sm-4" >
            <div class="search-box" style="width:80%">
                <input  type="text" class="form-control" id="serchbyname" placeholder="Search..." [(ngModel)]="nameSearch">
            </div>
    </div>
   <!-- <hr/> -->
</div>
<br>
<table class="table table-striped" class="table table-striped table-hover table-bordered" >
    <thead>
        <tr style="border-style: ridge;">
            <th>ID</th>
            <th >FIRST NAME</th>
            <th >LAST NAME</th>
            <th >CONTACT</th>
            <th >EMAIL</th> 
             <th >CITY</th> 
             <th >COUNTRY</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody style="border-style: ridge;">
         <tr *ngFor ="let candidate of candidates | paginate: { itemsPerPage: 5, currentPage: p } | filterkeyword : nameSearch">
            <td>{{candidate.id}}</td>
            <td >{{candidate.firstname}}</td>
            <td >{{candidate.lastname}}</td>
            <td >{{candidate.phoneno}}</td>
             <td >{{candidate.email}}</td> 
             <td >{{candidate.city}}</td> 
             <td >{{candidate.country}}</td> 
            <td >  
              <!-- <button (click)='updateCandidate(candidate.id)' class="btn btn-info">Update</button>
               <button (click)='deleteCandidate(candidate.id)' class="btn btn-danger" >Delete</button> -->
         <button (click)='viewCandidate(candidate.id)' class="btn btn-info" style=" background-color: tomato;">View</button>
          </td>
            
        </tr> 
    </tbody>
    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
</table>
<div><pagination-controls (pageChange)="p = $event"></pagination-controls></div>
