<app-navbar></app-navbar>
<div class="container">
<h3>Candidate Details</h3>
<br>
<h4>Personal Details :-</h4>
<div>
    <div>
        <label ><b>Candidate ID :</b></label> {{candidate.id}}
    </div>
    <div>
        <label ><b>First Name :</b></label> {{candidate.firstname}}
    </div>
    <div>
        <label ><b>Last Name :</b></label> {{candidate.lastname}}
    </div>
    <div>
        <label ><b>Contact Number :</b></label> {{candidate.phoneno}}
    </div>
    <div>
        <label ><b>Email ID :</b></label> {{candidate.email}}
    </div>
    <div>
        <label ><b>Date of Birth :</b></label> {{candidate.birthdate}}
    </div>
    <div>
        <label ><b>City:</b></label> {{candidate.city}}
    </div>
    <div>
        <label ><b>Country :</b></label> {{candidate.country}}
    </div>
    <br>
    <h4>Education Details :-</h4>
    <div>
        <label ><b>College Name :</b></label> {{edudetails.clgname}}
    </div>
    <div>
        <label ><b>University Name :</b></label> {{edudetails.universityname}}
    </div>
    <div>
        <label ><b>Course Enrolled :</b></label> {{edudetails.course}}
    </div>
    <div>
        <label ><b>College Address :</b></label> {{edudetails.address}}
    </div>
    <br>
    <h4>Joining Details :-</h4>
    <div>
        <label ><b>Expected Joining Data :</b></label> {{joiningdetails.date}}
    </div>
    <div>
        <label ><b>Technology :</b></label> {{joiningdetails.technology}}
    </div>
    <div>
        <label ><b>Joining Location :</b></label> {{joiningdetails.location}}
    </div>
    <!-- <div>
        <label ><b>Feedback :</b></label> {{joiningdetails.feedback}}
    </div> -->
    <br>
</div>
<div>
<button (click)='updateCandidate(candidate.id)' class="btn btn-info">Update</button>
<button (click)='deleteCandidate(candidate.id)' class="btn btn-danger" style="margin-left: 10px;">Delete</button>
<!-- <button class="btn btn-primary pull-right" (click)="showDialog()">Show Dialog</button> -->
<button (click)='gotoHomepage()' class="btn btn-info" style="margin-left: 10px;" >Back</button>
</div>
<br>
</div>


<!-- class="btn btn-primary pull-right" (click)="showDialog()" -->