 <app-navbar></app-navbar>
<!--<div class="col-md-6 offset-md-3">
    <div class="text-center"><h3><u>UPDATE DETAILS</u></h3></div>
    <h4>Personal Details</h4>
    <hr>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>ID</label>
            <input type="number" class="form-control" id="id"
             [(ngModel)]="candidate.id" name="id">
        </div>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" id="firstname"
             [(ngModel)]="candidate.firstname" name="firstname">
        </div>
    
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" id="lastname"
             [(ngModel)]="candidate.lastname" name="lastname">
        </div>
        <div class="form-group">
            <label>Contact No</label>
            <input type="text" class="form-control" id="phoneno"
             [(ngModel)]="candidate.phoneno" name="phoneno">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" id="email"
             [(ngModel)]="candidate.email" name="email">
        </div>
        <div class="form-group">
            <label>Date of Birth</label>
            <input type="date" class="form-control" id="birthdate"
             [(ngModel)]="candidate.birthdate" name="birthdate">
        </div>
        <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control" id="city"
             [(ngModel)]="candidate.city" name="city">
        </div>
        <div class="form-group">
            <label>Contry</label>
            <input type="text" class="form-control" id="contry"
             [(ngModel)]="candidate.country" name="country">
        </div>
       
       <h4>Educational Details</h4>
       <div class="form-group">
        <label>College Name</label>
        <input type="text" class="form-control" id="clgname"
         [(ngModel)]="edudetails.clgname" name="clgname">
    </div>
    <div class="form-group">
        <label>University Name</label>
        <input type="text" class="form-control" id="universityname"
         [(ngModel)]="edudetails.universityname" name="universityname">
    </div>
    <div class="form-group">
        <label>Enrolled Course</label>
        <input type="text" class="form-control" id="course"
         [(ngModel)]="edudetails.course" name="course">
    </div>
    <div class="form-group">
        <label>Address of College</label>
        <input type="text" class="form-control" id="address"
         [(ngModel)]="edudetails.address" name="address">
    </div>

    <h4>Joining Details</h4>
    <div class="form-group">
        <label>Expected Joining Date</label>
        <input type="date" class="form-control" id="date"
         [(ngModel)]="joiningdetails.date" name="date">
    </div>
    <div class="form-group">
        <label>Location</label>
        <input type="text" class="form-control" id="location"
         [(ngModel)]="joiningdetails.location" name="location">
    </div>
    <div class="form-group">
        <label>Technology</label>
        <input type="text" class="form-control" id="technology"
         [(ngModel)]="joiningdetails.technology" name="technology">
    </div>
   
    <br>
    <div >
        <button class="btnn_submit" type="submit">Submit</button>
    
        <input class="btnn_reset" type="reset" value="reset" >
    </div> 
    
    </form>
      <br>
    </div> -->
    

     <!--++++++++++++++++++++++++++++++++++++++++++++++-->
<!-- 
     <div class="table-wrapper">
   
        <div class="text-center"><h3><u>UPDATE DETAILS</u></h3></div>
        <div class="col-md-6 offset-md-3">
      
        <form (ngSubmit)="onSubmit()" [formGroup]="multistep">
        <div *ngIf="step==1" formGroupName="candidateDetails1">
            <h4>Personal Details :</h4>
            <hr>
                 <div class= "form-group">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" formControlName="id" id="inputfname" placeholder="Enter ID" required
                            [(ngModel)]="candidate.id" >
                            <span  class="text-danger" *ngIf="submitted && candidateDetails1.id.errors?.required">Please Enter ID</span>
                </div> 
                <div class= "form-group">
                        <label for="fname">First Name</label>
                        <input type="text" class="form-control" formControlName="fname" id="inputfname" placeholder="First Name" required
                            [(ngModel)]="candidate.firstname" >
                            <span  class="text-danger" *ngIf="submitted && candidateDetails1.fname.errors?.required">Please Enter First Name</span>
                </div>
                <div class= "form-group">
                        <label for="lname">Last Name</label>
                        <input type="text" class="form-control" formControlName="lname" id="inputPassword4" placeholder="Last Name" required
                            [(ngModel)]="candidate.lastname" >
                            <span  class="text-danger" *ngIf="submitted && candidateDetails1.lname.errors?.required">Please Enter Last Name</span>
                </div>
        
                <div class= "form-group">
                        <label for="inputDOB">DOB</label>
                        <input type="date" class="form-control" formControlName="birthdate" id="inputDOB" required [(ngModel)]="candidate.birthdate"  >
                        <span  class="text-danger" *ngIf="submitted && candidateDetails1.birthdate.errors?.required">Please Enter DOB</span>
                </div>
                <div class= "form-group">
                        <label for="lname">City</label>
                        <input type="text" class="form-control" formControlName="city" id="inputPassword4" placeholder="City" required
                            [(ngModel)]="candidate.city" >
                            <span class="text-danger" *ngIf="submitted && candidateDetails1.city.errors?.required">Please Enter City</span>
                </div>
    
                <div class="form-group">
                        <label for="lname">Country</label>
                        <input type="text" class="form-control" formControlName="country" id="inputPassword4" placeholder="Country" required
                            [(ngModel)]="candidate.country" >
                            <span  class="text-danger"*ngIf="submitted && candidateDetails1.country.errors?.required">Please Enter Country</span>
                </div>
    
    
                <div class= "form-group">
                        <label for="inputConatact">Contact</label>
                        <input type="text" class="form-control" formControlName="phoneno" minlength=10 maxlength=10 id="inputContact" required [(ngModel)]="candidate.phoneno">
                            <span  class="text-danger" *ngIf="submitted && candidateDetails1.phoneno.errors?.required">Please Enter 10 Vaild Contact No:</span>
                </div>
                <div class= "form-group">
                        <label for="inputEmail">Email</label>
                        <input type="text" class="form-control" formControlName="email" id="inputEmail" placeholder="example@gmail.com" required [(ngModel)]="candidate.email" >
                            <span  class="text-danger" *ngIf="submitted && candidateDetails1.email.errors?.required">Please Enter Email Address</span>
                </div>
             
        </div>
        <div *ngIf="step==2" formGroupName="eduDetails1">
           <h4>Educational Details :</h4>
    
            <div  class="form-group">
             <label for="lname">College Name</label>
                <input type="text" class="form-control" formControlName="clname" id="inputPassword4" placeholder="College Name" required
                            [(ngModel)]="edudetails.clgname" >
                            <span  class="text-danger" *ngIf="submitted && eduDetails1.clname.errors?.required">Please Enter College Name</span>
            </div>
            <div  class="form-group">
                        <label for="lname">University Name</label>
                        <input type="text" class="form-control" formControlName="universityname" id="inputPassword4" placeholder="University Name" required
                            [(ngModel)]="edudetails.universityname" >
                            <span  class="text-danger" *ngIf="submitted && eduDetails1.universityname.errors?.required">Please Enter University Name</span>
            </div>
    
            <div  class="form-group">
                        <label for="lname">Course</label>
                        <input type="text" class="form-control" formControlName="course" id="inputPassword4" placeholder="Course Name" required
                            [(ngModel)]="edudetails.course" >
                            <span  class="text-danger" *ngIf="submitted && eduDetails1.course.errors?.required">Please Enter course Name</span>
            </div>
            <div  class="form-group">
                        <label for="lname">College Address</label>
                        <input type="text" class="form-control" formControlName="address" id="inputPassword4" placeholder="College Address" required
                            [(ngModel)]="edudetails.address" >
                            <span  class="text-danger" *ngIf="submitted && eduDetails1.address.errors?.required">Please Enter Address</span>
            </div>
         </div>
         <div *ngIf="step==3" formGroupName="joiningDetails1">
            <h4>Joining Details</h4>
            <hr>
                    <div  class="form-group">
                        <label for="inputDOB">Joining Date</label>
                        <input type="date" class="form-control" formControlName="date" id="inputDOB" required [(ngModel)]="joiningdetails.date">
                        <span  class="text-danger" *ngIf="submitted && joiningDetails1.date.errors?.required">Please Enter Date of Joining</span>
    
                    </div>
                    <div class="form-group">
                        <label>Joining Location </label>
                        <select class="custom-select" [(ngModel)]="joiningdetails.location" formControlName="location">
                            <option selected>{{joiningdetails.location}}</option>
                            <option value="Mumbai">Mumbai</option>
                            <option value="Banglore">Banglore</option>
                            <option value="Hydrabad">Hydrabad</option>
                            <option value="Pune">Pune</option>
                        </select>
                    </div>
                  
                    <div class="form-group ">
                        <label>Technology</label>
                        <select class="custom-select" [(ngModel)]="joiningdetails.technology" formControlName="technology" placeholder="Select Skills">
                            <option selected>{{joiningdetails.technology}}</option>
                            <option value="Java">Java</option>
                            <option value="C++">C++</option>
                            <option value="Python">Python</option>
                            <option value="Spring Boot">Spring Boot</option>
                            <option value="Angular">Angular</option>
                            <option value="MySql">Mysql</option>
                        </select>
                    </div>
        </div> 
            <div>
                <a class="btn btn-primary mx-3" *ngIf="step!=1" (click)="previous()">Previous</a>
                <button class="btn btn-success mx-3" *ngIf="step!=3" type="submit">Next</button>
                <button class="btn btn-success mx-3" *ngIf="step==3" type="submit">Submit</button>
            </div>
        
        </form>
        <br>
        </div>
    </div>   -->

     
<div class="table-wrapper">
     
    <div class="container">
        <div class="text-center"><h3><u>UPDATE DETAILS</u></h3></div>
        <form class="form" (ngSubmit)="onSubmit()" [formGroup]="multistep" >
    
            <div class="form-row" formGroupName="updateDetails1">
                <div class="col-md-4 mb-3">
                    <label for="fname">First Name</label>
                    <input type="text" class="form-control" formControlName="firstname" id="inputfname" placeholder="First Name" required
                        [(ngModel)]="candidate.firstname" >
                        <span  class="text-danger" *ngIf="submitted && updateDetails1.firstname.errors?.required">Please Enter First Name</span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control" formControlName="lastname" id="inputPassword4" placeholder="Last Name" required
                        [(ngModel)]="candidate.lastname" >
                        <span  class="text-danger" *ngIf="submitted && updateDetails1.lastname.errors?.required">Please Enter Last Name</span>
                </div>
    
                <div class="col-md-4 mb-3">
                    <label for="inputDOB">DOB</label>
                    <input type="date" class="form-control" formControlName="birthdate" id="inputDOB" required [(ngModel)]="candidate.birthdate"  >
                    <span  class="text-danger" *ngIf="submitted && updateDetails1.birthdate.errors?.required">Please Enter Birthdate</span>
                </div>
            </div>
            <div class="form-row" formGroupName="updateDetails1">
                <div class="form-group col-md-6">
                    <label for="inputConatact">Contact</label>
                    <input type="text" class="form-control" formControlName="phoneno" id="inputContact" required [(ngModel)]="candidate.phoneno">
                    <span  class="text-danger" *ngIf="submitted && updateDetails1.phoneno.errors?.required">Please Enter Phone no</span>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail">Email</label>
                    <input type="text" class="form-control" formControlName="email" id="inputEmail" placeholder="example@gmail.com" required
                        [(ngModel)]="candidate.email" >
                        <span  class="text-danger" *ngIf="submitted && updateDetails1.email.errors?.required">Please Enter Email</span>
                </div>
    
                <div class="col-md-4 mb-3">
                    <label for="lname">City</label>
                    <input type="text" class="form-control" formControlName="city" id="inputPassword4" placeholder="City" required
                        [(ngModel)]="candidate.city" >
    
                        <span  class="text-danger" *ngIf="submitted && updateDetails1.city.errors?.required">Please Enter City</span>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="inputDOB">Joining Date</label>
                    <input type="text" class="form-control" formControlName="date" id="inputPassword4" placeholder="Joining Date" required
                        [(ngModel)]="joiningdetails.date" >
    
                        <span  class="text-danger" *ngIf="submitted && updateDetails1.date.errors?.required">Please Enter joining date</span>
                </div>
                 
    
            </div>
            <div class="col-sm-15">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
    
        </form>
    </div>
    </div>  


